DEBUG_SERVER_URL=
DEBUG_SESSION_ID=
EZVIZ_APP_KEY=99020de0babb4e26aa9d574b500c5d19
EZVIZ_APP_SECRET=bebbd9a30e81e9e62865bc2b7fdff04c
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
QWEN_API_KEY=sk-ws-H.EDYRHDL.Se7K.MEUCIQD6kcSRZe-h1F43m7lJMhaDw8LL_LGg1pxIOXQwvyLdYwIgAz6HRcYN3qHW31nwX-wUdi961QejFMdXgzaZjqbsHWs
